@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0%;
  flex: auto;
  margin: 0%;

}

#nav1 {
  color: white;
  font-size: langer;
  padding: 10px;
  display: inline-block;

}

body {
  background-color: #ff751f;
  margin: 0%;
}

#sobre {
  background-color: #830000;
  border-radius: 25px;
  width: 90px;
  padding: 30px;
  display: inline-block;
  margin-right: 30px;
}

#nome {
  background-color: #830000;
  border-radius: 25px;
  width: 230px;
  padding: 30px;
  display: inline-block;
  margin-right: 200px;
  margin-left: 10px;
}

#habi {
  background-color: #830000;
  border-radius: 25px;
  width: 160px;
  padding: 30px;
  display: inline-block;
  margin-right: 30px;
}

#contato {
  background-color: #830000;
  border-radius: 25px;
  width: 100px;
  padding: 30px;
  display: inline-block;
  margin-right: 30px;
}

#proje {
  background-color: #830000;
  border-radius: 25px;
  width: 100px;
  padding: 30px;
  display: inline-block;
  margin-right: 30px;
}

img {
  width: 300px;
  height: 330px;
}

.sobre {
  background-color: #000000;

  box-sizing: border-box;
  height: 550px;
  width: 1350px;
  padding-top: 20px;
}

#fotoperfil {
  display: inline-block;
  height: 340px;
  background-color: #004aad;
  width: 330px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;
  padding-top: 13px;
}

#sobremim {
  background-color: #004aad;
  display: inline-block;
  border-radius: 30px;
  height: 300px;
  color: white;
  padding-left: 30px;
  width: 600px;
  margin-top: 20px;
  font-size: 20px;

}

#h1 {
  text-align: center;
}

#minhashabi {
  background-color: #830000;
  border-radius: 25px;
  width: 200px;
  padding: 30px;
  display: inline-block;
  text-align: center;
  margin-left: 200px;
  width: 900px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

#HTML {
  width: 170px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;


}

#CSS {
  width: 170px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;


}

#JS {
  width: 170px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;


}

#git {
  width: 170px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;


}

#GitHub2 {
  width: 170px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;



}

.habilidades {
  display: inline-block;
  text-align: center;

  background-size: 300px;
  border-radius: 25px;
  box-sizing: border-box;
  width: 20px;


}

#TUDOHABILI {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.EXEL {

  text-align: center;

  background-size: 300px;
  border-radius: 25px;
  box-sizing: border-box;
  width: 20px;
  color: white;
}

#EXEL {
  display: flex;
  justify-content: space-around;
}

#Exel {
  width: 170px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;


}

#PowerPoint {
  width: 170px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;


}

#Word {
  width: 170px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;


}

#MeusProje {
  background-color: #830000;
  border-radius: 25px;
  width: 200px;
  padding: 30px;
  display: inline-block;
  text-align: center;
  margin-left: 200px;
  width: 900px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

#FRAN {
  width: 1000px;
  height: 200px;
  margin-left: 11px;
}

.MeusProje {

  text-align: center;
  color: white;
}

#STEAM {
  width: 550px;
  height: 250px;
  margin-left: 11px;
}

.MeusProje {

  text-align: center;
  color: white;
}

#Meucontato {
  background-color: #830000;
  border-radius: 25px;
  width: 200px;
  padding: 30px;
  display: inline-block;
  text-align: center;
  margin-left: 200px;
  width: 900px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

#GitHub {
  width: 290px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;


}

#Linkedin {
  width: 290px;
  height: 150px;
  background-color: #ffbd59;
  border-radius: 25px;
  padding: 5px;
}

.GitHub {

  text-align: center;

  background-size: 300px;
  border-radius: 25px;
  box-sizing: border-box;
  width: 20px;
  color: white;
}

#Linkedin2 {
  display: flex;
  justify-content: space-around;
}

#footer {
  background-color: #004aad;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 90px;
  width: 1350px;
  align-items: center;
  margin-top: 30px;
}